html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #e4e4e4;
}
.order-title {
  font-size: 10pt;
}
.order-label {
  font-size: 8pt;
}
.bg-info {
  background-color: lightblue !important;
  color: black !important;
}
.bg-warning {
  background-color: #ffff4c !important;
}
.bg-danger {
  background-color: lightcoral !important;
}
.bg-success {
  background-color: lightgreen !important;
}
.priority-success {
  color: lightgreen !important;
}
.priority-warning {
  color: yellow !important;
}
.header-container {
  width: 100%;
  background-color: white;
}
.header-custom {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-custom > img {
  height: 40px;
}
.wrapper-custom {
  padding: 15px;
  height: 100%;
}
.container-custom {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
}
.status-container {
  text-align: center;
}
.collapse-container {
  padding: 0 15px;
}
.order-container {
  border-top: 1px solid #ddd
}
.order-head {
  padding: 8px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
.order-header {
  padding: 8px;
  background-color: #fcfcfc;
}
.order-header:hover {
  background-color: #f5f5f5;
}
.top-offer-body {
  padding: 8px 20px;
}
.order-form {
  font-size: 9pt !important;
}
.order-form-group {
  margin-bottom: 0px !important;
}
.category-header {
  padding: 8px;
}
.category-header:hover {
  background-color: #fcfcfc;
}

.plain-link:link,
.plain-link:hover,
.plain-link:active,
.plain-link:visited
{
  text-decoration: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInAnimate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeInAnimate;
  animation-name: fadeInAnimate;
}


@media (min-width: 768px) {
  .header-custom {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .header-custom {
    width: 970px;
  }
}
@media (min-width: 1200px){
  .header-custom {
    width: 1170px;
  }
}
