<!doctype html>
<html lang="es" ng-app="orders-dashboard-app">

<head>
	<title>Sales orders</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles/main.css">
</head>

<body ng-controller="dashboardCtrl">
	<div class="header-container">
		<div class="header header-custom">
			<ul class="nav nav-pills pull-right">
				<li class="nav-item">
					<a class="nav-link active" href="#">Export to Excel</a>
				</li>
			</ul>
			<img class="img-responsive" src="images/telus-logo.png" />

		</div>
	</div>

	<div class="wrapper-custom">

		<div class="container container-custom animated fadeIn">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-search"></i>
				</span>
				<input id="filter" type="search" class="form-control" name="filter" ng-model="filter" placeholder="Filter">
			</div>
		</div>

		<div class="container container-custom animated fadeIn">
			<div class="order-table">
				<div class="order-head">
					<div class="row">
						<div class="col-xs-2">Order #</div>
						<div class="col-xs-1"></div>
						<div class="col-xs-1">Priority</div>
						<div class="col-xs-2">Customer</div>
						<div class="col-xs-2">Creation Date</div>
						<div class="col-xs-2">Requested Date</div>
						<div class="col-xs-1">Status</div>
						<div class="col-xs-1">IFM</div>
					</div>
				</div>
				<div class="order-body" id="accordionOrder">

					<div class="order-container" ng-repeat="(key, order) in orders | filter : filter">
						<div class="order-header">
							<div class="row">
								<div class="col-xs-2">
									<a class="plain-link" data-toggle="collapse" data-parent="#accordionOrder" href="#collapseOrder{{key}}">
										<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
									</a>
									<a href="https://flcncapp-is05.tsl.telus.com/common/uobject.jsp?tab=_Order+Parameters&object={{order.id}}" target="_blank"
									 data-toggle="tooltip" data-placement="top" title="Go to sales order">
										{{order.name}}
									</a>
								</div>
								<div class="col-xs-1">
									<a data-toggle="modal" data-target="#salesOrderDetailModal">
										<span class="glyphicon glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
									</a>
								</div>
								<div ng-if="order.status == 'Initiated'" class="col-xs-1">
									<div ng-if="order.priority > 0" class="bg-danger status-container">{{order.priority}}</div>
									<div ng-if="order.priority <= 0 && order.priority >= -3" class="bg-warning priority-warning status-container">-</div>
									<div ng-if="order.priority < -3" class="bg-success priority-success status-container">-</div>
								</div>
								<div class="col-xs-2">
									<a ng-click="setCustomer(order.customer)" data-toggle="modal" data-target="#customerModal">{{order.customer.name}}</a>
								</div>
								<div class="col-xs-2">{{order.creationDate}}</div>
								<div class="col-xs-2">{{order.customerRequestedDate}}</div>
								<div class="col-xs-1">{{order.status}}</div>
								<div class="col-xs-1">
									<a ng-click="setOrderId(order.id)" data-toggle="modal" data-target="#assignModal">Assign</a>
								</div>
							</div>
						</div>

						<div id="collapseOrder{{key}}" class="collapse-container panel-collapse collapse">
							<div class="panel-body">

								<div id="accordionCategory{{key}}" ng-repeat="(catKey, category) in order.orderItems">

									<div ng-if="category.orderType == 'Product'">
										<div class="order-header">
											<div class="row">
												<div class="col-xs-3">
													<a class="plain-link" data-toggle="collapse" data-parent="#accordionCategory{{key}}" href="#collapse{{key}}Category{{catKey}}">
														<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
													</a>
													<span class="order-title">{{category.name}}</span>
													<span class="order-label">({{category.status}})</span>
												</div>
												<div class="col-xs-1">
													<a ng-click="setJeopardies(category.jeopardies)" data-toggle="modal" data-target="#jeopardiesModal" title="This product order has jeopardies!">
														<span class="glyphicon glyphicon-alert text-danger" aria-hidden="true"></span>
													</a>
												</div>
												<div class="col-xs-7">
													<div class="col-xs-3 status-container bg-info" data-toggle="tooltip" data-placement="top" title="Pending">4</div>
													<div class="col-xs-3 status-container bg-danger" data-toggle="tooltip" data-placement="top" title="Delayed">2</div>
													<div class="col-xs-3 status-container bg-warning" data-toggle="tooltip" data-placement="top" title="Check">0</div>
													<div class="col-xs-3 status-container bg-success" data-toggle="tooltip" data-placement="top" title="On time">1</div>
												</div>
												<div class="col-xs-1">
													<a ng-click="setTasks(category.tasks)" data-toggle="modal" data-target="#tasksModal">Tasks</a>
												</div>
											</div>
										</div>
										<div class="top-offer-body">
											<div class="row">
												<div class="col-xs-offset-1 col-xs-5 order-form">
													<div class="form-group order-form-group row">
														<span class="col-xs-4">Provisioning Status:</span>
														<span class="col-xs-8 col-form-label">{{category.provisioningStatus}}</span>
													</div>
													<div class="form-group order-form-group row">
														<span class="col-xs-4 col-form-label">CSID:</span>
														<span class="col-xs-8 col-form-label">{{category.csid}}</span>
													</div>
													<div class="form-group order-form-group row">
														<span class="col-xs-4 col-form-label">OOB TN:</span>
														<span class="col-xs-8 col-form-label">{{category.oobTn}}</span>
													</div>
												</div>
												<div class="col-xs-offset-1 col-xs-5 order-form">
													<div class="form-group order-form-group row">
														<span class="col-xs-4">Location:</span>
														<span class="col-xs-8 col-form-label">{{category.location}}</span>
													</div>
													<div class="form-group order-form-group row">
														<span class="col-xs-4 col-form-label">RSTD:</span>
														<span class="col-xs-8 col-form-label">{{category.rstd}}</span>
													</div>
													<div class="form-group order-form-group row">
														<span class="col-xs-4 col-form-label">Technology:</span>
														<span class="col-xs-8 col-form-label">{{category.technology}}</span>
													</div>
													<div class="form-group order-form-group row">
														<span class="col-xs-12 col-form-label">
															<a ng-click="setProductOrder(category)" data-toggle="modal" data-target="#productOrderDetailModal">
																More information
															</a>
														</span>
													</div>
												</div>
											</div>
										</div>

										<div id="collapse{{key}}Category{{catKey}}" class="collapse-container panel-collapse collapse">
											<div class="panel-body">

												<div id="accordionSpeed{{catKey}}" ng-repeat="(speedKey, speed) in category.orderItems">
													<div class="order-header">
														<div class="row">
															<div class="col-xs-12">
																<a class="plain-link" data-toggle="collapse" data-parent="#accordionSpeed{{catKey}}" href="#collapse{{key}}Category{{catKey}}Speed{{speedKey}}">
																	<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
																</a>
																<span class="order-title">{{speed.name}}</span>
																<span class="order-label">({{speed.status}})</span>
															</div>
														</div>
													</div>
													<div id="collapse{{key}}Category{{catKey}}Speed{{speedKey}}" class="collapse-container panel-collapse collapse">
														<div class="panel-body">
															<div ng-repeat="feature in speed.orderItems">
																<div class="order-header">
																	<div class="row">
																		<div class="col-xs-12">
																			{{feature.name}} ({{feature.status}})
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<!--
														<div class="panel-body">
															Characteristics
															<div ng-repeat="characteristic in speed.characteristics">
																{{characteristic.name}} {{characteristic.value}}
															</div>
														</div>
														-->
													</div>

												</div>

											</div>
										</div>
									</div>

									<div ng-if="category.orderType == 'Work'">
										<div class="order-header">
											<div class="row">
												<div class="col-xs-8">
													<a class="plain-link" data-toggle="collapse" data-parent="#accordionCategory{{key}}" href="#collapse{{key}}WorkOffer{{catKey}}">
														<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
													</a>
													<span class="order-title">{{category.name}}</span>
													<span class="order-label">({{category.status}})</span>
												</div>
											</div>
										</div>

										<div id="collapse{{key}}WorkOffer{{catKey}}" class="collapse-container panel-collapse collapse">
											<div class="panel-body">

												<div id="accordionOfferComponents{{catKey}}" ng-repeat="(compKey, component) in category.orderItems">
													<div class="order-header">
														<div class="row">
															<div class="col-xs-12">
																<span class="order-title">{{component.name}}</span>
																<span class="order-label">({{component.status}})</span>
															</div>
														</div>
													</div>
													<div class="top-offer-body">
														<div class="row">
															<div class="col-xs-offset-1 col-xs-5 order-form">
																<div class="form-group order-form-group row">
																	<span class="col-xs-4">Booking Id:</span>
																	<span class="col-xs-8 col-form-label">{{component.bookingId}}</span>
																</div>
																<div class="form-group order-form-group row" ng-repeat="param in component.parameters">
																	<span class="col-xs-4">{{param.name}}:</span>
																	<span class="col-xs-8 col-form-label">${{param.value}}</span>
																</div>
															</div>
															<div class="col-xs-offset-1 col-xs-5 order-form">
																<div class="form-group order-form-group row">
																	<span class="col-xs-12 col-form-label">
																		<a data-toggle="modal" data-target="#jobsModal">
																			Show job information
																		</a>
																	</span>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>

									</div>

								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="salesOrderDetailModal" tabindex="-1" role="dialog" aria-labelledby="salesOrderDetailModalLabel"
	 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="salesOrderDetailModalLabel">Sales Order Details</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="productOrderDetailModal" tabindex="-1" role="dialog" aria-labelledby="productOrderDetailModalLabel"
	 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="productOrderDetailModalLabel">Product Order Details (Order Id: {{productOrder.id}})</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<span class="col-xs-4 col-form-label">Port:</span>
						<span class="col-xs-8 col-form-label">{{productOrder.port}}</span>
					</div>
					<div class="form-group row">
						<span class="col-xs-4 col-form-label">Serving Edge:</span>
						<span class="col-xs-8 col-form-label">{{productOrder.servingEdge}}</span>
					</div>
					<div class="form-group row">
						<span class="col-xs-4 col-form-label">Copper Path:</span>
						<span class="col-xs-8 col-form-label">{{productOrder.copperPath}}</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="customerModalLabel">{{customer.name}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Address: {{customer.address}}</p>
					<p>Phone: {{customer.phoneNumber}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="assignModalLabel">IFM Assignment (Sales Order {{orderId}})</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="wrapper-custom">
						<div class="form-group row">
							<label for="selectSolutionPrime" class="col-xs-3 col-form-label">Solution Prime</label>
							<div class="col-xs-9">
								<select class="form-control" id="selectSolutionPrime">
									<option selected disabled>Select an employee</option>
									<option ng-repeat="employee in employees">{{employee.fullName}}</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="selectEnablement" class="col-xs-3 col-form-label">Enablement</label>
							<div class="col-xs-9">
								<select class="form-control" id="selectEnablement">
									<option selected disabled>Select an employee</option>
									<option ng-repeat="employee in employees">{{employee.fullName}}</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="tasksModal" tabindex="-1" role="dialog" aria-labelledby="tasksModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="tasksModalLabel">Tasks Status (Order {{order.orderId}})</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Task</th>
								<th class="status-container">Status</th>

								<th class="status-container">Expected days</th>
								<th class="status-container">Actual days</th>
								<th class="status-container">Warning Threshold</th>
								<th class="status-container">Date Initiated</th>
								<th class="status-container">Date Finished</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="task in tasks">
								<td>{{task.name}}</td>
								<td ng-if="task.actualDays > task.expectedDays" class="bg-danger status-container">{{task.status}}</td>
								<td ng-if="task.actualDays <= task.expectedDays && task.status == 'Pending'" class="status-container">{{task.status}}</td>
								<td ng-if="task.actualDays <= task.expectedDays && (task.warningThreshold == null || task.actualDays < task.warningThreshold)  && (task.status == 'Completed' || task.status == 'Initiated')"
								 class="bg-success status-container">{{task.status}}</td>
								<td ng-if="task.actualDays <= task.expectedDays && task.warningThreshold != null && task.actualDays >= task.warningThreshold && task.status == 'Initiated'"
								 class="bg-warning status-container">{{task.status}}</td>

								<td class="status-container">{{task.expectedDays}}</td>
								<td class="status-container">{{task.actualDays}}</td>
								<td class="status-container">{{task.warningThreshold}}</td>
								<td class="status-container">{{task.dateInitiated}}</td>
								<td class="status-container">{{task.dateFinished}}</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="jeopardiesModal" tabindex="-1" role="dialog" aria-labelledby="jeopardiesModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="jeopardiesModalLabel">Jeopardies (Order {{order.orderId}})</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>Category</th>
								<th>Code</th>
								<th>Assignee</th>
								<th>Status</th>
								<th>Creation Date</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="jeopardy in jeopardies">
								<td>{{jeopardy.category}}</td>
								<td>{{jeopardy.code}}</td>
								<td>{{jeopardy.assignee}}</td>
								<td>{{jeopardy.status}}</td>
								<td>{{jeopardy.creationDate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="jobsModal" tabindex="-1" role="dialog" aria-labelledby="jobsModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="jobsModalLabel">Jobs</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="scripts/main.js"></script>
	<script src="scripts/app.js"></script>
</body>

</html>